.deps
*~
*.o
*.tar.gz
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache
/config.aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1
/src/texttohtml
/src/texttopng
/src/texttops
/src/t-n2w
/src/t-s2d
/src/t-s2i
/src/*.log
/src/*.trs
/debian/files
/debian/rjk-text-tools*
/doc/texttops.1
/doc/texttopdf.1
/doc/texttopng.1
/debian/substvars.*
/products
/doc/html
