Source: rjk-text-tools
Maintainer: Richard Kettlewell <rjk@terraraq.org.uk>
Section: text
Priority: optional
Standards-Version: 3.9.1.0
Build-Depends: libpangomm-1.4-dev,libcairomm-1.0-dev,pkg-config

Package: rjk-text-tools
Architecture: any
Depends: ${shlibs:Depends},${misc:Depends}
Description: Text conversion tools
 Contains tools to convert plain text to HTML, PNG, Postscript and
 PDF.
 .
 Backspace-based bold and underline markup, for instance as used in
 'man' output, is interpreted.
